<div class="row">
    <div class="col-md-3">
      <a href="#">
        <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
      </a>
    </div>
  <div class="col-md-7">
    <h3><%= project.title%></h3>
    <p><%= project.description%></p>
    <%= link_to 'View Project', project_path(project), class: "btn btn-primary"  %>
    <span class='float-right'><%=project.created_at%></span>
  </div>
</div>
  <hr>
